<br><br>
<h3>Editing Events/Dates for:
	<%= @campaign.name %></h3>
	
  <%# render 'nav/side_nav' %>
  
  <%= render 'training_form' %>
  <%= render 'gathering_form' %>
  <%= render 'mailing_calls_form' %>


<%# link_to 'Cancel/Back', user_campaign_events_path(@user, @campaign) %>

<script>
	$('.first_fieldset').addClass('small-12 columns');
</script
