<br><br>
<h3>Editing Training Sheet data-set for:
	<%= @campaign.name %></h3>

<%# render 'nav/side_nav' %>

<%= render 'form' %>

<%# link_to 'Show', [@user, @campaign, @training_sheet] %>


<script>
	$('.first_fieldset').addClass('pull-1');
</script
