// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
}
td {
	max-width: 265px;
}
#upload {
	float: right;
	margin: -100px 0 -50px;
	font-weight: bold;
}
.green {
	color: green;
}
.red {
	color: red;
}
.panel {
	@include box-shadow(5px 5px 5px #888888);
}